.team-sheet-inputs, .team-sheet-inputs th, .team-sheet-inputs td, .team-sheet-inputs th {
    border: 1px solid grey;
    border-collapse: collapse;
}

.team-sheet-inputs input {
    border: 0;
}

.team-sheet {
    width: 50%;
    border: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.team-sheet-inputs {
    width: 100%;
}

.teamname {
    width: calc(50% - 2px);
    border: 1px solid red;
}

.playername {
    width: 40%;
    border: 1px solid blue;
}
.playernumber {
    width: calc(10% - 4px);
    border: 1px solid blue;
}

#team-sheet-submit {
    flex-wrap: none;
    width: 100%;
}

.team-sheet-title {
    width: 100%;
    text-align: center;
}