div.spacer {}

.team-sheet {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    --border-width: 1px;
}
.teamname {
    width: calc(50% - calc(2*var(--border-width)));
    border: var(--border-width) solid red;
}
.playername {
    width: 40%;
    border: var(--border-width) solid blue;
}
.playernumber {
    width: calc(10% - calc(4*var(--border-width)));
    border: var(--border-width) solid blue;
}
.team-sheet-submit {
    flex-wrap: none;
    width: 100%;
}
.team-sheet-title {
    width: 100%;
    text-align: center;
}

.rotation-sheet {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    --border-width: 1px;
}

.rotation-sheet .player-position {
    border: 1px solid green;
    width: calc(calc(100%/3) - 2*var(--border-width));
}

.rotation-sheet-submit {
    width:100%;
}